body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
input,textarea,
p,blockquote,th,td,hr,button,
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{margin:0;padding:0}

table{border-collapse:collapse;border-spacing:0}

fieldset,img{border:0}

abbr,acronym{border:0;font-variant:normal}

del{text-decoration:line-through}

address,caption{font-style:normal;font-weight:500}

ol,ul{list-style:none}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

ins,a,a:hover,a:link{text-decoration:none}

img{vertical-align: middle;}
 
/* html,body,#app{width: 100%;height: 100%;} */

/* 重置导航栏 */
.van-nav-bar{
    background-color: #2A2A2A;
    height: 0.60rem;
    line-height: 0.60rem;
}
.van-nav-bar__title{
    color: #fff;
    font-size: 0.3rem;
}
.van-nav-bar .van-icon {
    color: #fff;
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.3rem;
}

.magin_b{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #2A2A2A;

}
.my-swipe{
    height: 3.14rem;
    line-height: 3.14rem;
}

.my-swipe .van-swipe-item{
    height: 3.14rem;
    line-height: 3.14rem;
}

.van-rate__icon--full{
    color: #FF0606;
  }

  .myswiper{
    box-sizing: border-box;
    height: 4.25rem;
    margin: 0 0.20rem;
    /* padding-bottom:  0.52rem; */
    background-color: #515151;
    /* overflow: auto; */
  }
  
  /* .myswiper .conter{
    box-sizing: border-box;
    height: 4.77rem;
    background-color: #515151;
  } */
  .swiper-container{
    height: 3.73rem;
    line-height: 3.73rem;
    /* overflow: auto; */
  }